@model Sprint.Models.BacklogViewModel
    <div class="text-md-center m-b-3">
        <h2>
            <span class="mega-octicon octicon-git-commit"></span>Sprint:  <a href="@Model.Repository.HtmlUrl"><strong>@Model.Repository.FullName</strong></a>
            <a href="/" class="btn btn-sm btn-primary-outline">All repos</a>
        </h2>
    </div>
    <div>
        <div class="row">
            <ul class="nav nav-pills nav-stacked col-sm-2">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("List", "Home")">Current Sprint</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Action("Backlog", "Home")">Backlog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Team", "Home")">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Releases</a>
                </li>
            </ul>
            <div class="col-sm-10">
                @if (!Model.OpenSprintIssues.Any())
                {
                    <div class="card">
                        <div class="card-block text-xs-center m-a-3 p-a-3">
                            <h2>
                                <span class="bg-success">You do not have any issues in your backlog!</span>
                            </h2>
                        </div>
                    </div>
                }
                else
                {
                    <ul class="list-group all-open-issues">
                        @foreach (var item in Model.OpenSprintIssues)
                        {
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <a href="@Url.Action("AddIssue", new { ownerName = Model.Repository.Owner.Login, repoName = Model.Repository.Name, issueId = item.Number })"
                                       class="btn btn-success-outline btn-sm" title="Add to sprint"><span class="octicon octicon-plus"></span></a>
                                    <span>@item.Title</span>
                                </h4>
                                <p class="list-group-item-text"><a href="@item.HtmlUrl">#@item.Number</a> created on <span class="text-info">@item.CreatedAt.ToLocalTime()</span></p>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>