@model Sprint.Models.IndexViewModel
<div class="text-md-center m-b-3">
    <h2>
        <span class="mega-octicon octicon-git-commit"></span>Sprint:  <a href="@Model.Repository.HtmlUrl"><strong>@Model.Repository.FullName</strong></a>
        <a href="/" class="btn btn-sm btn-primary-outline">Home</a>
    </h2>
</div>
<div>
    <div class="row text-xs-center m-b-2">
        <div class="col-sm-4">
            <div class="card card-block text-sm-center card-success inverse-text">
                <h4 class="card-title m-a-0"><span class="mega-octicon octicon-issue-opened"></span> <strong>@Model.OpenIssues.Count</strong> Open Issues</h4>
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-block text-sm-center  card-info inverse-text">
                <h4 class="card-title m-a-0"><span class="mega-octicon  octicon-git-pull-request"></span> <strong>@Model.OpenPRs.Count</strong> Open PR's</h4>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-block text-sm-center card-danger inverse-text">
                <h4 class="card-title m-a-0"><span class="mega-octicon  octicon-issue-closed"></span> <strong>@Model.RecentlyClosed.Count</strong> Recently Closed</h4>              
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4 class="text-sm-center">Sprint board</h4>     
            @if (!Model.Sprint.Issues.Any())
            {
                <div class="card">
                    <div class="card-block text-xs-center m-a-3 p-a-3">
                        <h2>Your board is kinda empty, wanna add some issues?</h2>
                    </div>
                </div>
            }
            else
            {
                <div>
                    @foreach (var item in Model.CurrentSprint)
                    {
                        <div class="card text-xs-center">
                            <h4 class="card-header">
                                <a href="@item.HtmlUrl">#@item.Number</a> @item.Title
                            </h4>
                            <div class="card-block">
                                <a href="@Url.Action("CompletedIssue", new { ownerName = Model.Repository.Owner.Login, repoName = Model.Repository.Name, issueId = item.Number })"
                                   class="btn btn-success-outline"><span class="octicon octicon-issue-closed"></span> Completed</a>
                                <a href="@Url.Action("RemoveIssue", new { ownerName = Model.Repository.Owner.Login, repoName = Model.Repository.Name, issueId = item.Number })"
                                   class="btn btn-danger-outline" title="Remove from sprint"><span class="octicon octicon-remove-close"></span> Remove</a>
                            </div>
                            <div class="card-text text-muted">
                                Created on @item.CreatedAt.ToString("dd MMM yy")
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-sm-6">
            <h4 class="text-sm-center">Backlog</h4>
            @if (!Model.OpenSprintIssues.Any())
            {
                <div class="card">
                    <div class="card-block text-xs-center m-a-3 p-a-3">
                        <h2>You do not have any open issues on your repo.</h2>
                    </div>
                </div>
            }
            else
            {
                <div>
                    @foreach (var item in Model.OpenSprintIssues)
                    {
                        <div class="card text-xs-center">
                            <h4 class="card-header">
                                <a href="@item.HtmlUrl">#@item.Number</a> @item.Title
                            </h4>
                            <div class="card-block">
                                <a href="@Url.Action("AddIssue", new { ownerName = Model.Repository.Owner.Login, repoName = Model.Repository.Name, issueId = item.Number })"
                                   class="btn btn-success-outline" title="Add to sprint"><span class="octicon octicon-plus"></span> Add</a>
                            </div>
                            <div class="card-text text-muted">
                                Created on @item.CreatedAt.ToString("dd MMM yy")
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>