@model Sprint.Models.TeamViewModel
<div class="text-md-center m-b-3">
    <h2>
        <span class="mega-octicon octicon-git-commit"></span>Sprint:  <a href="@Model.Repository.HtmlUrl"><strong>@Model.Repository.FullName</strong></a>
        <a href="/" class="btn btn-sm btn-primary-outline">All repos</a>
    </h2>
</div>
<div>
    <div class="row">
        <ul class="nav nav-pills nav-stacked col-sm-2">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("List", "Home")">Current Sprint</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Backlog", "Home")">Backlog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Team", "Home")">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Releases</a>
            </li>
        </ul>
        <div class="col-sm-10">
            <div class="card card-block">
                <h4 class="card-title">Contributors</h4>
                @foreach (var item in Model.Team)
                {
                    <a href="@item.HtmlUrl"><img src="@item.AvatarUrl" style="width:30px;height:30px;" title="@item.Login" /></a>
                }
            </div>
        </div>
    </div>
</div>